<vis-dialog title="Activity Curves" modal="modal">
<form class="form-inline plot-criteria-form">
    <ul class="list-unstyled">
        <li ng-repeat="input in selection.curves" class="control"><h4 ng-style="{color: input.color()}">Curve {{$index+1}}</h4><activity-curve-control input="input"></activity-curve-control></li>
        <li  style="padding-top: 10px;">
            <form class="form-inline">
                <div class="form-group">
                    <label for="frequency">Date Interval</label>
                    <select class="form-control" id="frequency"
                        ng-model="selection.frequency"
                        ng-options="f as f.label for f in frequencies"></select>
                </div>
                <div class="form-group">
                    <label for="interpolate">Line Interpolation</label>
                    <select class="form-control" id="interpolate"
                        ng-model="selection.interpolate"
                        ng-options="i as i for i in ['linear','step-after','monotone']"></select>
                </div>
                <!--div class="form-group">
                    <label for="points">Data Points</label>
                    <input type="checkbox" id="points" ng-model="selection.dataPoints" />
                </div-->
            </form>
        </li>
    </ul>
</form>

<div class="panel panel-default main-vis-panel" >
    <div class="panel-body">
        <center>
            <div id="vis-container">
                <div id="vis-working" ng-show="working"><i class="fa fa-circle-o-notch fa-spin fa-5x"></i></div>
                <activity-curves-chart selection="selection"></activity-curves-chart>
            </div>
        </center>
    </div>
</div>
</vis-dialog>
