<div class="activity-curve-control">
    <form class="form-inline">
        <div class="form-group">
            <label for="species-{{input.id}}">Species</label>
            <select class="form-control" id="species-{{input.id}}"
                ng-model="input.species"
                ng-options="(o|speciesTitle) for o in speciesList">
              <option ng-if="input.id > 0" value="">-- Select species --</option>
            </select>
        </div>
        <div class="form-group" ng-show="input.species">
            <label for="phenophase-{{input.id}}">Phenophase</label>
            <select class="form-control" id="phenophase-{{input.id}}"
                ng-model="input.phenophase"
                ng-options="o.phenophase_name for o in input.validPhenophases"></select>
        </div>
        <div class="form-group" ng-show="input.species">
            <label for="year-{{input.id}}">Year</label>
            <select class="form-control" id="year-{{input.id}}"
                ng-model="input.year"
                ng-options="y for y in validYears"></select>
        </div>
        <div class="form-group" ng-show="input.species">
            <label for="metric-{{input.id}}">Metric</label>
            <select class="form-control" id="metric-{{input.id}}"
                ng-model="input.metric"
                ng-options="m as m.label for m in input.validMetrics"></select>
            <label popover-placement="bottom" popover-title="Metric" uib-popover="{{metric.description}}" popover-trigger="mouseenter" popover-append-to-body="true"><i class="fa fa-info-circle" aria-hidden="true"></i></label>
        </div>
    </form>
</div>
