<label>Day of Year</label>
<div class="form-inline" style="margin-bottom: 15px;">
    <div class="form-group">
        <label for="selectedMonth" class="sr-only">Month</label>
        <select id="selectedMonth" class="form-control" ng-model="selection.month"
                ng-options="m as (m | date:'MMMM') for m in months"></select>
    </div>
    <div class="form-group" ng-if="selection.month">
        <label for="selectedDate" class="sr-only">Day</label>
        <select id="selectedDate" class="form-control" ng-model="selection.date"
                ng-options="d for d in dates"></select>
    </div>
    <div class="form-group">
        <input class="form-control" style="width: 50px; cursor: default;" type="text" value="{{layer.extent.current.value | number:0}}" disabled />
    </div>
</div>