<div class="in-situ-control" ng-if="layer && layer.supportsData()">
    <div class="disable-curtain" ng-if="disableControl"></div>
    <hr />
	<h4>Plot Observed Onset</h4>	
    <div class="form-group" ng-if="speciesList">
        <label for="selectedSpecies">Species</label>
        <select id="selectedSpecies" class="form-control" ng-model="selection.species"
                ng-options="s as (s | speciesTitle) for s in speciesList"></select>
    </div>
    <div class="form-group" ng-if="selection.species">
        <label for="selectedPhenophse">Phenophase</label>
        <select id="selectedPhenophse" class="form-control" ng-model="selection.phenophase"
                ng-options="p as p.phenophase_name for p in phenophaseList"></select>
    </div>
    <div class="row">
        <div class="col-xs-9">
            <div class="form-group" ng-if="selection.species && selection.phenophase">
                <label for="selectedYear">Year</label>
                <select id="selectedYear" class="form-control" ng-model="selection.year" ng-disabled="currentYearOnly"
                        ng-options="y as y for y in years"></select>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group text-right">
                <label for="addToMapVis" style="visibility: hidden; display: block;">Add</label>
                <button id="addToMapVis" class="btn btn-default"
                        ng-click="addSelectionToFilter()"
                        ng-disabled="!validSelection()"
                        popover-placement="left" popover-popup-delay="500"
                        popover-trigger="mouseenter"
                        uib-popover="Add this species/phenophase/year to the map"
                        popover-append-to-body="true">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button id="mapVisPlot" class="btn btn-default pull-right"
                    ng-click="mapVisPlot()"
                    ng-disabled="!mapVisFilter.length"
                    popover-placement="left" popover-popup-delay="500"
                    popover-trigger="mouseenter"
                    uib-popover="Add this species/phenophase/year to the map"
                    popover-append-to-body="true">Plot data</button>
        </div>
    </div>
</div>
<div class="in-situ-control" ng-if="layer && !layer.supportsData()">
	<p style='font-style:italic;font-size:11px'>Note: To plot in-situ phenology data against phenology maps, please select one of the following Gridded Layer categories: "Spring Indices, Historical Annual", "Spring Indices, Current Year" or "Spring Indices, Daily 30-year Average".</p>
</div>