<div ng-if="layers" class="map-vis-layer-control">
    <div class="form-group">
        <label for="selectedCategory">Category</label>
        <select id="selectedCategory" class="form-control" ng-model="selection.layerCategory"
                ng-options="cat as cat.name for cat in layers.categories"></select>
    </div>
    <div class="form-group" ng-if="selection.layerCategory">
        <label for="selectedLayer">Layer</label>
        <select id="selectedLayer" class="form-control" ng-model="selection.layer"
                ng-options="l as (l.style.title + ' - ' + l.title) for l in selection.layerCategory.layers"></select>
    </div>
    <div class="extent-control" ng-if="selection.layer.extent" ng-switch="selection.layer.extent.type">
        <map-vis-doy-control ng-switch-when="doy" layer="selection.layer"></map-vis-doy-control>
        <map-vis-date-control ng-switch-when="date" layer="selection.layer"></map-vis-date-control>
        <map-vis-year-control ng-switch-when="year" layer="selection.layer"></map-vis-year-control>
    </div>
    <map-vis-opacity-slider layer="selection.layer"></map-vis-opacity-slider>
    <p ng-if="selection.layer.$description" ng-bind-html="selection.layer.$description"></p>
</div>