<div class="map-vis-marker-info-window" ng-if="markerModel">
    <div class="station-info" ng-if="markerModel.station">
        <h3>{{markerModel.station.site_name}}</h3>
        <ul class="list-unstyled">
            <li ng-if="markerModel.station.group_name"><label>Group:</label> {{markerModel.station.group_name}}</li>
            <li><label>Latitude:</label> {{markerModel.station.latitude}} <label>Longitude:</label> {{markerModel.station.longitude}}</li>
            <li ng-if="markerModel.gridded_legend_data"><label>Modeled Value:</label> <div class="legend-cell" style="background-color: {{markerModel.gridded_legend_data.color}};">&nbsp;</div> {{markerModel.gridded_legend_data.point | number:0}} ({{markerModel.gridded_legend_data.label}})</li>
        </ul>
    </div>
    <div class="gridded-data" ng-if="markerModel.gridded_legend_data">
    </div>
    <div ng-repeat="md in markerModel.data" ng-init="tag = speciesSelections[$index];" ng-if="md.records.length">
        <h4><span>{{tag.species | speciesTitle}}, {{tag.phenophase.phenophase_name}}, {{tag.year}} </span>
                <svg id="map-vis-iw-marker-{{$index}}" uib-tooltip="{{md.legend_data.label}}" tooltip-append-to-body="true" tooltip-placement="top"></svg></h4>
        <ul class="list-unstyled">
            <li><label>Observed Day of Onset:</label> {{md.first_yes_doy_avg | number:0}} ({{legend.formatPointData(md.first_yes_doy_avg)}})<span ng-if="md.records.length > 1"> [Average of {{md.records.length}} individuals. Standard Deviation: {{md.first_yes_doy_stdev | number:1}}]</span></li>
        </ul>
    </div>
</div>