<p class="empty-filter-notes" ng-if="isFilterEmpty()">
    Before adding a layer to the map you must create and execute a filter.
    A map layer will allow you to filter stations based on the geographic boundaries it defines.
</p>
<ul class="list-unstyled" ng-if="!isFilterEmpty()">
    <li><label ng-class="{'selected-layer': layerOnMap.layer === 'none'}"><a href ng-click="layerOnMap.layer='none'">None</a></label>
        <!--input type="radio" id="layer-none" ng-model="layerOnMap.layer" value="none"/> <label for="layer-none">None</label-->
    </li>
    <li ng-repeat="layer in layers">
        <label  ng-class="{'selected-layer': layerOnMap.layer === layer}">{{layer.label}}</label>
        <a href ng-click="layerOnMap.layer=layer"><img ng-src="{{layer.img}}" /></a>
        <ul class="list-inline layer-links">
            <li ng-if="layer.link"><a href="{{layer.link}}" target="_blank">More Info</a></li>
            <li ng-if="layer.source"><a href="{{layer.source}}" target="_blank">Source</a></li>
        </ul>
    </li>
</ul>