<ui-gmap-google-map ng-if="map" center='map.center' zoom='map.zoom' options="map.options">
    <npn-stations ng-if="stationView"></npn-stations>
</ui-gmap-google-map>

<toolbar>
    <tool icon="fa-search" title="Filter">
        filter content
    </tool>
    <tool icon="fa-bars" title="Layers">
        layer content
    </tool>
    <tool icon="fa-bar-chart" title="Visualizations">
        visualization content
    </tool>
    <tool icon="fa-cog" title="Settings">
        settings content
    </tool>
</toolbar>