<a title="Reset" href id="reset-control" class="btn btn-default btn-xs" ng-click="reset()"><i class="fa fa-refresh"></i></a>

<div id="myModal" class="warning-modal modal">
  <!-- Modal content -->
  <div class="warning-modal-content">
    <span class="close" onclick="getElementById('myModal').style.display = 'none'">&times;</span>
    <p class="warning-modal-text">This version of the USA-NPN visualization tool is no longer supported! We invite you to use our new, improved tool. You can still use this version of the tool, but some features may not work correctly.</p>
    <div class="warning-modal-buttons">
        <a title="Continue Using this Version" href id="close-warning-btn" class="btn btn-default btn-xs warning-modal-btn" onclick="getElementById('myModal').style.display = 'none'">Continue Using this Version</a>
        <a title="Go to New Version" href id="move-warning-btn" class="btn btn-default btn-xs warning-modal-btn" onclick="window.location='https://data.usanpn.org/vis-tool/'">Go to New Version</a>
    </div>
  </div>
</div>

<npn-working></npn-working>

<ui-gmap-google-map ng-if="map" center='map.center' zoom='map.zoom' options="map.options" events="map.events">
    <npn-stations ng-if="stationView"></npn-stations>
    <npn-filter-results></npn-filter-results>
    <bounds-manager></bounds-manager>
</ui-gmap-google-map>

<share-control></share-control>
<export-control></export-control>
<help-video-control></help-video-control>
<filter-tags></filter-tags>
<choropleth-info></choropleth-info>
<gridded-legend-main></gridded-legend-main>
<pest-legend-main></pest-legend-main>

<toolbar>
    <tool id="filter" icon="fa-search" title="Filter">
        <filter-control></filter-control>
    </tool>
    <tool id="layers" icon="fa-bars" title="Boundary Layers">
        <layer-control></layer-control>
    </tool>
    <tool id="visualizations" icon="fa-bar-chart" title="Visualizations">
        <vis-control></vis-control>
    </tool>
    <tool id="settings" icon="fa-cog" title="Settings">
        <settings-control></settings-control>
    </tool>
	<tool id="gridded" icon="fa-th" title="Gridded Layers">
		<gridded-control></gridded-control>
	</tool>
    <tool id="pestmaps" icon="fa-bug" title="Pheno Forecasts">
        <pest-control></pest-control>
    </tool>
</toolbar>

<img src = 'npn-logo.png' class='npn-logo' />
<img src = 'University-of-Arizona-Logo.png' class='ua-logo' />
<img src = 'usgs-logo.png' class='usgs-logo' /> 
