<ul class="list-unstyled">
    <li>
        <Label for="clusterMarkersSetting">Cluster Markers</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in [true,false]">
                <input type="radio" id="clusterMarkers{{option}}" ng-model="settings.clusterMarkers.value"
                       ng-value="{{option}}" /> <label for="clusterMarkers{{option}}">{{option | yesNo}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label>Variable Displayed</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in settings.tagBadgeFormat.options">
                <input type="radio"
                       id="{{option.value}}" ng-model="settings.tagBadgeFormat.value"
                       value="{{option.value}}"> <label for="{{option.value}}">{{option.label}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <Label for="onlyYesData">Only Show Yes Data</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in [true,false]">
                <input type="radio" name="onlyYesData" id="onlyYesData{{option}}" ng-model="settings.onlyYesData.value"
                       ng-value="{{option}}" /> <label for="onlyYesData{{option}}">{{option | yesNo}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label>Species Tag Title</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in settings.tagSpeciesTitle.options">
                <input type="radio"
                       id="{{option.value}}" ng-model="settings.tagSpeciesTitle.value"
                       value="{{option.value}}"> <label for="{{option.value}}">{{option.label}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label for="excludeLqd">Exclude less precise data from visualizations</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in [true,false]">
                <input type="radio" id="filterLqdSummary{{option}}" ng-model="settings.filterLqdSummary.value"
                       ng-value="{{option}}" /> <label for="filterLqdSummary{{option}}">{{option | yesNo}}</label>
            </li>
        </ul>
        <p>Selecting <strong>Yes</strong> will exclude data points which lack a "no" record preceding the first "yes" record from certain visualizations. </p>
    </li>
    <li class="divider"></li>
    <li>
        <label for="dataPrecisionFilter">Data Precision Filter</label>
        <select class="form-control" ng-model="settings.dataPrecisionFilter.value"
            ng-options="days as days+' days' for days in settings.dataPrecisionFilter.options" />
        <p style="margin: 15px 0px;">Less precise data is removed from the scatter plot and map visualizations by only plotting data points preceded or followed by a “no” within 30 days. This filter can be adjusted here to  7, 14, or 30 days.</p>
    </li>
</ul>
