<ul class="list-unstyled">
    <li>
        <Label for="clusterMarkersSetting">Cluster Markers</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in [true,false]">
                <input type="radio" id="clusterMarkers{{option}}" ng-model="settings.clusterMarkers.value"
                       ng-value="{{option}}" /> <label for="clusterMarkers{{option}}">{{option | yesNo}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label>Variable(s) Displayed</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in settings.tagBadgeFormat.options">
                <input type="radio"
                       id="{{option.value}}" ng-model="settings.tagBadgeFormat.value"
                       value="{{option.value}}"> <label for="{{option.value}}">{{option.label}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label>Species Tag Title</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in settings.tagSpeciesTitle.options">
                <input type="radio"
                       id="{{option.value}}" ng-model="settings.tagSpeciesTitle.value"
                       value="{{option.value}}"> <label for="{{option.value}}">{{option.label}}</label>
            </li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <label for="clusterMarkersSetting">Exclude low quality data from visualizations</label>
        <ul class="list-unstyled">
            <li ng-repeat="option in [true,false]">
                <input type="radio" id="filterLqdSummary{{option}}" ng-model="settings.filterLqdSummary.value"
                       ng-value="{{option}}" /> <label for="filterLqdSummary{{option}}">{{option | yesNo}}</label>
            </li>
        </ul>
        <p>A value of <strong>Yes</strong> will exclude data points which lack a "no" observation record preceding the first yes observation record to increase precision and certainty.</p>
    </li>
</ul>