<ul class="list-unstyled">
    <li>
        <label for="species">Species</label>
        <input id="species"
               type="text" class="form-control"
               placeholder="Add Species To Filter"
               typeahead="sp as sp.$display for sp in findSpecies()  | filter:{common_name:$viewValue} | limitTo:10"
               typeahead-loading="findingSpecies"
               ng-model="selected.addSpecies"
               ng-disabled="findSpeciesParamsEmpty" />
        <button class="btn btn-default" ng-disabled="!selected.speciesToAdd"
                ng-click="addSpeciesToFilter(selected.speciesToAdd)">
            <i class="fa" ng-class="{'fa-refresh fa-spin': findingSpecies, 'fa-plus': !findingSpecies}"></i>
        </button>
    </li>
    <li>
        <label>Animal Types</label>
        <div isteven-multi-select
            max-labels="3"
            input-model="animalTypes"
            output-model="animals"
            button-label="species_type"
            item-label="species_type"
            tick-property="selected"
            orientation="horizontal"
            helper-elements="all none reset filter"></div>
    </li>
    <li>
        <label>Plant Types</label>
        <div isteven-multi-select
            max-labels="3"
            input-model="plantTypes"
            output-model="plants"
            button-label="species_type"
            item-label="species_type"
            tick-property="selected"
            orientation="horizontal"
            helper-elements="all none reset filter"></div>
    </li>
    <li>
        <label>Partners</label>
        <div isteven-multi-select
            max-labels="1"
            input-model="partners"
            output-model="networks"
            button-label="network_name"
            item-label="network_name"
            tick-property="selected"
            orientation="horizontal"
            selection-mode="single"></div>
    </li>
    <li class="divider"></li>
    <li>
        <label for="yearInputForm">Years (at most two)</label>
        <form id="yearInputForm" name="yearInputForm">
        <input id="start_date" type="number" class="form-control"
               max="{{selected.date.end_date || thisYear}}"
               ng-model="selected.date.start_date"
               typeahead="year for year in validYears | lte:selected.date.end_date | filter:$viewValue"
               required placeholder="From" /> - 
        <input id="end_date" type="number" class="form-control"
                min="{{selected.date.start_date || 2010}}"
                ng-model="selected.date.end_date"
                typeahead="year for year in validYears | gte:selected.date.start_date | filter:$viewValue"
                required placeholder="To" />
        <button class="btn btn-default"
                ng-disabled="yearInputForm.$invalid || ((selected.date.end_date - selected.date.start_date) > 2) || filterHasDate()"
                ng-click="addDateRangeToFilter()"><i class="fa fa-plus"></i></button>
        </form>
    </li>
</ul>
