<ul class="list-unstyled">
    <li>
        <label for="yearInputForm">Select up to ten (consecutive) years</label>
        <form id="yearInputForm" name="yearInputForm">
        <input id="start_date" type="number" class="form-control"
               max="{{selected.date.end_date || thisYear}}"
               ng-model="selected.date.start_date"
               uib-typeahead="year for year in validYears | lte:selected.date.end_date | filter:$viewValue"
               required placeholder="From" /> -
        <input id="end_date" type="number" class="form-control"
                min="{{selected.date.start_date || 1900}}"
                ng-model="selected.date.end_date"
                uib-typeahead="year for year in validYears | gte:selected.date.start_date | filter:$viewValue"
                required placeholder="To" />
        <button class="btn btn-default"
                ng-disabled="yearInputForm.$invalid || ((selected.date.end_date - selected.date.start_date) > 10)"
                ng-click="addDateRangeToFilter()"
                popover-placement="right" popover-popup-delay="500" popover-append-to-body="true"
                popover-trigger="'mouseenter'" uib-popover="Add this filter to the map"><i class="fa fa-plus"></i></button>
        </form>
        <p ng-if="selected.date.start_date < 2008" class="disclaimer">
            You have selected a starting year prior to 2008 when the contemprary phenology data begins.  Prior to 2008 there is
            a much more limited set of historical data and a limited number of species (E.g. lilac and honeysuckle).
        </p>
    </li>
    <li class="divider" ng-if="filterHasDate()"></li>
    <li ng-if="filterHasDate()">
        <label>Animal Types</label>
        <div isteven-multi-select
            max-labels="3"
            input-model="animalTypes"
            output-model="speciesInput.animals"
            button-label="species_type"
            item-label="species_type"
            tick-property="selected"
            orientation="horizontal"
            helper-elements="all none reset filter"
            on-close="findSpecies()"></div>
    </li>
    <li ng-if="filterHasDate()">
        <label>Plant Types</label>
        <div isteven-multi-select
            max-labels="3"
            input-model="plantTypes"
            output-model="speciesInput.plants"
            button-label="species_type"
            item-label="species_type"
            tick-property="selected"
            orientation="horizontal"
            helper-elements="all none reset filter"
            on-close="findSpecies()"></div>
    </li>
    <li ng-if="filterHasDate()">
        <label>Partners</label>
        <div class="row">
            <div class="col-xs-9">
                <div isteven-multi-select
                    max-labels="3"
                    input-model="partners"
                    output-model="speciesInput.networks"
                    button-label="network_name"
                    item-label="network_name"
                    tick-property="selected"
                    orientation="horizontal"
                    helper-elements="none reset filter"
                    on-close="findSpecies()"></div>
            </div>
            <div class="col-xs-3">
                <button id="add-networks-button" class="btn btn-default"
                        ng-disabled="!speciesInput.networks.length || networksMaxedOut()"
                        ng-click="addNetworksToFilter()"
                        popover-placement="right" popover-popup-delay="500"
                        popover-trigger="'mouseenter'" uib-popover="Add this filter to the map" popover-append-to-body="true">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

    </li>
    <li ng-if="filterHasDate()">
        <label for="species">Species</label>
        <div class="row">
            <div class="col-xs-9">
                <div isteven-multi-select
                    max-labels="3"
                    input-model="speciesList"
                    output-model="selected.species"
                    button-label="display"
                    item-label="display"
                    tick-property="selected"
                    orientation="horizontal"
                    helper-elements="none reset filter"></div>
            </div>
            <div class="col-xs-3">
                <button id="add-species-button" class="btn btn-default"
                        ng-disabled="!selected.species.length || speciesMaxedOut()"
                        ng-click="addSpeciesToFilter()"
                        popover-placement="right" popover-popup-delay="500"
                        popover-trigger="'mouseenter'" uib-popover="Add this filter to the map" popover-append-to-body="true">
                    <i class="fa" ng-class="{'fa-refresh fa-spin': findingSpecies, 'fa-plus': !findingSpecies}"></i>
                </button>
            </div>
        </div>
    </li>
    <li ng-if="filterHasDate()" style="text-align: right;">
        <a class="btn btn-lg btn-primary" id="filter-placebo" href ng-click="$parent.$parent.close()" ng-disabled="!filterHasSufficientCriteria()">Execute Filter <i class="fa fa-search"></i></a>
    </li>
</ul>
