<div class="btn-group filter-tag" dropdown is-open="status.isopen">
    <button type="button" class="btn btn-primary dropdown-toggle" style="background-color: {{item.color}};" dropdown-toggle ng-disabled="!item.phenophases">
        {{item.common_name}} <span class="badge">{{count}}</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu phenophase-list" role="menu">
        <li ng-repeat="phenophase in item.phenophases">
            <input type="checkbox" ng-model="phenophase.selected"> {{phenophase.phenophase_name}}
        </li>
    </ul>
    <button class="btn btn-primary" style="background-color: {{item.color}};" ng-click="removeFromFilter(item)">
        <i class="fa fa-times-circle-o"></i>
    </button>
</div>