<div class="btn-group filter-tag" ng-class="{open: status.isopen}">
    <a class="btn btn-primary" style="background-color: {{arg.color}};" ng-disabled="!arg.phenophases" ng-click="status.isopen = !status.isopen">
        {{arg.arg | speciesTitle:titleFormat}}
        <span class="badge"
              popover-placement="bottom" popover-popup-delay="500" popover-append-to-body="true"
              popover-trigger="'mouseenter'" uib-popover="{{badgeTooltip}}">{{arg.counts | speciesBadge:badgeFormat}}</span>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu phenophase-list" role="menu">
        <li class="inline">
            <label for="ydo-{{arg.arg.species_id}}"><input id="ydo-{{arg.arg.species_id}}" type="checkbox" ng-model="arg.ydo"/> Yes Data Only</label>
        </li>
        <li class="divider"></li>
        <li class="inline">Select <a href ng-click="selectAll(true)">all</a> <a href ng-click="selectAll(false)">none</a></li>
        <li class="divider"></li>
        <li ng-repeat="phenophase in arg.phenophases | filter:hasCount">
            <label for="{{arg.arg.species_id}}-{{phenophase.phenophase_id}}"><input id="{{arg.arg.species_id}}-{{phenophase.phenophase_id}}" type="checkbox" ng-model="phenophase.selected"> <span class="badge">{{phenophase.count}}</span> {{phenophase.phenophase_name}}</label>
        </li>
    </ul>
    <a class="btn btn-primary" style="background-color: {{arg.color}};" ng-click="removeFromFilter(arg)">
        <i class="fa fa-times-circle-o"></i>
    </a>
</div>
