@import "../lib/font-awesome/css/font-awesome.min.css";

@mixin rounded($r) {
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
          border-radius: $r;
}

html, body {
    height:100%; width:100%;
}
body {
    overflow: hidden; // full screen map, no scrollbars
}

.angular-google-map-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}
.angular-google-map-container img { max-width: none; }


.animated-show-hide.ng-enter,
.animated-show-hide.ng-leave {
    min-height: 0px;
    max-height: 0px;
    overflow:   hidden;

    -webkit-transition: min-height, max-height, opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: min-height, max-height, opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);

    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

.animated-show-hide {
}

.animated-show-hide.ng-enter,
.animated-show-hide.ng-leave.ng-leave-active {
    opacity:0;
    min-height: 0px;
    max-height: 0px;
    overflow:   hidden;
}

.animated-show-hide.ng-leave,
.animated-show-hide.ng-enter.ng-enter-active {
    opacity:1;
    height:auto;
    min-height: 0px;
    max-height: 2000px;
}
#vis-container {
    position: relative;
}
#npn-working, #vis-working {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
    text-align: center;

}
#npn-working {
    i {
        margin-top: 30%;
    }
}
#vis-working {
    i {
        margin-top: 15%;
    }
}

// toolbar
$tb-content-width: 350px;
$tb-content-padding: 15px;
$tb-open-close-duration: 0.75s;
$tb-bg: #fff;
$tool-padding: 10px;
// this overlap exists because the "tool" pane and its corresponding tab are animated separately
// as a result the "tab" extends underneat the pane so that during animation no gap can be seen between the two.
$tool-content-overlap: 40px;

@mixin tb-transition() {
    transition: left $tb-open-close-duration;
    -webkit-transition: left $tb-open-close-duration;
    -moz-transition: left $tb-open-close-duration;
    -o-transition: left $tb-open-close-duration;
}
.toolbar {
    position: absolute;
    left: 0;
    //border: 1px solid red;
    display: inline-block;
    ul.tools-list {
        list-style: none;
        display: inline-block;
        padding: 0px;
        margin-top: 20px;
        li {
            color: #fff;
            background-color: rgba(0,0,0,0.6);
            box-shadow: 0 0 8px #666;
            margin-top: 5px;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            border: 1px solid transparent;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: $tool-padding ($tool-padding + 3px) $tool-padding ($tool-padding + $tool-content-overlap);
            display: inline-grid;
            width: 25px;
            font-size: 1.75em;

            position: relative;
            left: -$tool-content-overlap;

            @include tb-transition();
        }
        li:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,1.0);
        }
        li.open {
            position: absolute;
            z-index: 499;
            left: $tb-content-width - $tool-content-overlap;

            @include tb-transition();
        }
		
		li:last-child{
			margin-top:57px;
		}
    }
    .toolbar-content {
        width: $tb-content-width;
        height: 1000px;
        height: 100vh;
        padding: $tb-content-padding;
        position: absolute;
        top: 0;
        left: -($tb-content-width+(2*$tb-content-padding));
        z-index: 500;
        background: $tb-bg;
        overflow: auto;

        @include tb-transition();
    }
    .toolbar-content.open {
        left: 0;
        border-right: 1px solid #aaa;

        @include tb-transition();
    }
}

.tool-content {
    padding: 0px 10px 10px 10px;

    .empty-filter-notes {
        color: #555;
        font-style: italic;
    }
}

// filter
#filter-placebo {
    /*
    position: absolute;
    top: 34px;
    left: 190px;*/
}
.tool-content.filter {
    label[for="species"] {
        display: block;
    }
    input#species {
        display: inline-block;
        width: 85%;
    }
    li {
        @extend .animated-show-hide;
        margin-bottom: 15px;
    }
    li.divider {
        border-bottom: 1px solid #ccc;
    }
    .fa-refresh {
        color: orange;
    }

    label[for="yearInputForm"] {
        display: block;
    }
    input#start_date, input#end_date {
        display: inline-block;
        width: 80px;
    }
}

ul.dropdown-menu {
    li.inline a {
        display: inline-block;
        padding: 3px 5px;
    }
}

/*
$gmaps-maptype-right: 30px;
// re-position a GoogleMaps generated element....
// cannot rely on google maps to keep this ID in place (it disappeared)
#maptype {
    right: $gmaps-maptype-right !important;
}
*/
$controls-top: 110px;
$control-height: 28px;
$control-margin: 10px;
$control-font-size: 1.15em;
.little-npn-control {
    height: $control-height;
    width: $control-height;
    font-size: $control-font-size;
}
// put the share-control in its original place...
#reset-control,#share-control,#export-control {
    @extend .little-npn-control;
    position: absolute;
    right: 10px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
#share-control {
    top: $controls-top;
}
#export-control {
    top: $controls-top + $control-height + $control-margin;
}
#reset-control {
    top: $controls-top + (2*$control-height) + (2*$control-margin);
}
#share-content {
    position: absolute;
    top: 50px;
    right: 40px;
    box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
    z-index: 1000;
    padding: 10px;
    background: #eee;
    @include rounded(4px);
    border: 1px solid #aaa;
    input {
        width: 400px;
    }
}

ul.filter-tags {
    position: absolute;
    right: 40px;// + $gmaps-maptype-right;
    top: 0px;
    z-index: 450;
    margin-left: 70px;

    li {
        margin-top: 5px;
    }

    .filter-tag {
        a:first-of-type {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .phenophase-list {
            padding: 5px;
            li {
                font-size: .9em;
            }
        }
        .popover-content {
            color: #666;
        }
    }
    .filter-tag.date {
        a:first-of-type {
            cursor: pointer;
        }
        a:first-of-type:hover {
            background-color: #fff;
        }
    }
}
ul.filter-tags.map-vis {
    position: inherit;
    .filter-tag {
        margin-bottom: 5px;
        .btn {
            height: 35px;
        }
        svg {
            border: none;
        }
    }
}
.map-vis-marker-info-window {
    svg {
        border: none;
        width: 16px;
        height: 16px;
    }
    .legend-cell {
        width: 20px;
        height: 20px;
        border: 1px solid black;
        display: inline-block;
    }
}

// layers
.tool-content.layers {
    ul {
        margin-bottom: 50px;
    }
    li {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        img {
            width: ($tb-content-width * .75);
        }
        label {

        }
        label.selected-layer {
            text-decoration: underline;
        }
    }
    li:first-of-type {
        margin-top: 0px;
    }
    ul.layer-links {
        font-color: #aaa;
        font-size: .9em;
        margin-bottom: 0px;
        li {
            border-bottom: none;
            padding-bottom: 0px;
        }
    }
}

.tool-content.visualizations {
    li {
        a {
            font-size: 1.5em;
            color: #555;
        }
        a.disabled {

        }
        a.disabled:hover {
            text-decoration: none;
            cursor: default;
        }
    }
}

.tool-content.settings {
    li {
        @extend .animated-show-hide;
        margin-bottom: 15px;
    }
    li.divider {
        border-bottom: 1px solid #ccc;
    }
}

.station-count {
    font-weight: bold;
    color: #fff;
}

.modal-dismiss {
    float:right;
    color: #000;
}
.modal-dismiss:hover {
    color: #666;
}

.vis-dialog-window {
    .modal-dialog {
        margin: 8px;
        width: 98%;
        height: 98%;
        .modal-content {
            //height: 100%;
        }
    }
}
.vis-dialog {
    .main-vis-panel {
        overflow: auto;
        margin-top: 15px;
        a {
            color: #000;
        }
    }
    &.calendar {
        .calendar-chart-controls {
            margin-right: 15px;
            margin-top: 15px;
        }
    }
}
form.plot-criteria-form {
    margin-left: 30px;
    .form-group {
        margin-right: 15px;
    }
}
ul.to-plot {
    li.criteria {
        @include rounded(4px);
        border: 1px solid #aaa;
        padding: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

.chart-container {
    position: relative;
    display: inline-block;
    .vis-download {
        @extend .little-npn-control;
        position: absolute;
        right: 0px;
        margin: 10px;
        font-size: 1.5em;
    }
}
/*
.axis text {
    font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}*/
svg {
    border: 1px solid #aaa;
}
/*
.legend rect {
  fill: white;
  stroke: black;
  opacity: 0.8;
}*/
.disclaimer, .filter-disclaimer {
    margin-top: 5px;
    font-size: .75em;
}
.filter-disclaimer {
    float: right;
}

.station-details {
    min-width: 250px;
    max-width: 500px;
}

#choroplethHelp {
    @include rounded(4px);
    position: absolute;
    bottom: 45px;
    right: 5px;
    z-index: 2000;
    padding: 15px 30px 0px 15px;
    background-color: rgba(0,0,0,.3);
    border: 1px solid #666;
    h4,h5 {
        margin-top: 0px;
        color: #fff;
    }
    h4 {
        margin-bottom: 2px;
    }
    label {
        color: #fff;
        font-weight: normal;
    }
    ul.color-scale {
        margin-bottom: 15px;
        li {
            width: 15px;
            height: 15px;
            position: relative;
            div {
                font-size: .75em;
                position: absolute;
                top: 15px;
                left: 0px;
                color: #fff;
            }
        }
        li.selected {
            border: 1px solid #fff;
        }
    }
}
.choropleth-swatch {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 4px;
}

// hides the "hand" icon in the drawing control panel.
div[title="Stop drawing"] {
    display: none !important;
}

$max-pulse-scale: 1.35;
$pulse-duration: 1s;
$pulse-count: 60;

@-webkit-keyframes pulse {
     0% {
     -webkit-transform: scale(1, 1);
    }
     50% {
     -webkit-transform: scale($max-pulse-scale, $max-pulse-scale);
    }
     100% {
     -webkit-transform: scale(1, 1);
    };
}

@keyframes pulse {
     0% {
     transform: scale(1, 1);
    }
     50% {
     transform: scale($max-pulse-scale, $max-pulse-scale);
    }
     100% {
    transform: scale(1, 1);
    };
}

.look-at-me {
    -webkit-animation: pulse $pulse-duration linear $pulse-count;
    animation: pulse $pulse-duration linear $pulse-count;
}
.look-at-me:hover {
    -webkit-animation: none;
    animation:none;
}

.toolbar-icon.look-at-me {
    color: #e5c100;
}

#griddedLegendMain {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 60%;
    padding:8px;
    border: 1px solid #aaa;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    .gridded-legend {
        width: 100%;
        height: 125px;
        border: none;
    }
}

.citation-text{
	font-size:11px;
	font-style:italic;
	padding-top:2px;
}

.vis-dialog.phenology-maps {
    .angular-google-map-container {
        position: inherit;
        width:100%;
        height:500px;
        @include rounded(5px);
        border: 1px solid #aaa;
    }
    .gridded-legend {
        width: 100%;
        height: 85px;
        margin-top: 10px;
        border: none;
    }
    .in-situ-control {
        position: relative;
        .disable-curtain {
            position: absolute;
            z-index: 3000;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.2;
            border-radius: 5px;
        }
    }	
}

#griddedPointInfoWindow {
    .gridded-legend-color {
        display: inline-block;;
        width: 30px;
        height: 30px;
        border: 1px solid #aaa;
    }
    .gridded-point-data {
        display: inline-block;
        margin-left: 10px;
    }
}

.gridded-layer-control {
    .reset-layer {
        font-size: 1.2em;
    }
}