@import "../lib/font-awesome/css/font-awesome.min.css";

@mixin rounded($r) {
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
          border-radius: $r;
}

html, body {
    height:100%; width:100%;
}
body {
    overflow: hidden; // full screen map, no scrollbars
}

.angular-google-map-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
}
.angular-google-map-container img { max-width: none; }


.animated-show-hide.ng-enter,
.animated-show-hide.ng-leave {
    min-height: 0px;
    max-height: 0px;
    overflow:   hidden;

    -webkit-transition: min-height, max-height, opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);
            transition: min-height, max-height, opacity cubic-bezier(0.250, 0.460, 0.450, 0.940);

    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;

    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

.animated-show-hide {
}

.animated-show-hide.ng-enter,
.animated-show-hide.ng-leave.ng-leave-active {
    opacity:0;
    min-height: 0px;
    max-height: 0px;
    overflow:   hidden;
}

.animated-show-hide.ng-leave,
.animated-show-hide.ng-enter.ng-enter-active {
    opacity:1;
    height:auto;
    min-height: 0px;
    max-height: 2000px;
}

#npn-working {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2000;
    text-align: center;;
    i {
        margin-top: 30%;
    }
}

// toolbar
$tb-content-width: 350px;
$tb-content-padding: 15px;
$tb-open-close-duration: 0.75s;
$tb-bg: #fff;
$tool-padding: 10px;
// this overlap exists because the "tool" pane and its corresponding tab are animated separately
// as a result the "tab" extends underneat the pane so that during animation no gap can be seen between the two.
$tool-content-overlap: 40px;

@mixin tb-transition() {
    transition: left $tb-open-close-duration;
    -webkit-transition: left $tb-open-close-duration;
    -moz-transition: left $tb-open-close-duration;
    -o-transition: left $tb-open-close-duration;
}
.toolbar {
    position: absolute;
    left: 0;
    //border: 1px solid red;
    display: inline-block;
    ul.tools-list {
        list-style: none;
        display: inline-block;
        padding: 0px;
        margin-top: 20px;
        li {
            color: #fff;
            background-color: rgba(0,0,0,0.6);
            box-shadow: 0 0 8px #666;
            margin-top: 5px;
            box-sizing: content-box;
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            border: 1px solid transparent;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: $tool-padding ($tool-padding + 3px) $tool-padding ($tool-padding + $tool-content-overlap);
            display: inline-grid;
            width: 25px;
            font-size: 1.75em;

            position: relative;
            left: -$tool-content-overlap;

            @include tb-transition();
        }
        li:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,1.0);
        }
        li.open {
            position: absolute;
            z-index: 499;
            left: $tb-content-width - $tool-content-overlap;

            @include tb-transition();
        }
    }
    .toolbar-content {
        width: $tb-content-width;
        height: 100vh;
        min-height: 1000px;
        padding: $tb-content-padding;
        position: absolute;
        top: 0;
        left: -($tb-content-width+(2*$tb-content-padding));
        z-index: 500;
        background: $tb-bg;
        overflow: auto;

        @include tb-transition();
    }
    .toolbar-content.open {
        left: 0;
        border-right: 1px solid #aaa;

        @include tb-transition();
    }
}

.tool-content {
    padding: 0px 10px 10px 10px;
}

// filter
.tool-content.filter {
    label[for="species"] {
        display: block;
    }
    input#species {
        display: inline-block;
        width: 85%;
    }
    li {
        @extend .animated-show-hide;
        margin-bottom: 15px;
    }
    li.divider {
        border-bottom: 1px solid #ccc;
    }
    .fa-refresh {
        color: orange;
    }

    label[for="yearInputForm"] {
        display: block;
    }
    input#start_date, input#end_date {
        display: inline-block;
        width: 80px;
    }
}

ul.dropdown-menu {
    li.inline a {
        display: inline-block;
        padding: 3px 5px;
    }
}

$gmaps-maptype-right: 30px;
// re-position a GoogleMaps generated element....
#maptype {
    right: $gmaps-maptype-right !important;
}
// put the share-control in its original place...
#share-control {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
}
#share-content {
    position: absolute;
    top: 50px;
    right: 40px;
    box-shadow: rgba(0, 0, 0, 0.29804) 0px 1px 4px -1px;
    z-index: 1000;
    padding: 10px;
    background: #eee;
    @include rounded(4px);
    border: 1px solid #aaa;
    input {
        width: 400px;
    }
}

ul.filter-tags {
    position: absolute;
    right: 105px + $gmaps-maptype-right;
    top: 0px;
    z-index: 450;
    margin-left: 100px;

    li {
        margin-top: 5px;
    }

    .filter-tag {
        button:first-of-type {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .phenophase-list {
            padding: 5px;
        }
    }
}

// layers
.tool-content.layers {
    li {
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        img {
            width: ($tb-content-width * .75);
        }
    }
    li:first-of-type {
        margin-top: 0px;
    }
}

.tool-content.settings {
    li {
        @extend .animated-show-hide;
        margin-bottom: 15px;
    }
    li.divider {
        border-bottom: 1px solid #ccc;
    }
}

.station-count {
    font-weight: bold;
}